table {
  width: 100%;
}

.frequency {
  text-align: center;
  font-weight: 500;
}

.dayly {
  background-color: green;
  color: white;
}

.weekly {
  background-color: blue;
  color: white;
}

.monthly {
  background-color: yellow;
  color: rgb(53, 53, 53);
}

.yearly {
  background-color: red;
  color: rgb(53, 53, 53);
}

button {
  background-color: transparent;
  box-shadow: none;
  color: white;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  border-radius: 10px;
  margin: 10px 0;
}
