table {
  width: 100%;
}

.frequency {
  text-align: center;
  font-weight: 500;
}

.dayly {
  background-color: green;
  color: white;
}

.weekly {
  background-color: blue;
  color: white;
}

.monthly {
  background-color: yellow;
  color: rgb(53, 53, 53);
}

.yearly {
  background-color: red;
  color: rgb(53, 53, 53);
}

button:focus {
  outline: none;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  border-radius: 10px;
  margin: 10px 0;
}

.option-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete:hover {
  color: red;
  i {
    color: red;
  }
}

.edit:hover {
  color: blue;
  i {
    color: blue;
  }
}
