.permissions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 900px;
  gap: 10px;
  z-index: 1000;
}

.permissions span {
  align-items: center;
}

.fixed {
  position: fixed;
  bottom: 0;
  margin-bottom: 7vh;
  left: 2;
  width: 100%;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  border-radius: 10px;
  margin: 10px 0;
}

.option-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete:hover {
  color: red;
  i {
    color: red;
  }
}

.edit:hover {
  color: blue;
  i {
    color: blue;
  }
}
