<h1 mat-dialog-title>{{data.description}}</h1>

<div mat-dialog-content class="modal-content">

  <div class="field">
    <mat-form-field>
      <mat-label>Tipo da atividade</mat-label>
      <input matInput [(ngModel)]="data.activityType">
    </mat-form-field>
  </div>

  <div class="field">
    <mat-form-field>
      <mat-label>Origem da atividade</mat-label>
      <input matInput [(ngModel)]="data.origin">
    </mat-form-field>
  </div>

  <div class="field">
    <mat-form-field>
      <mat-label>Turno</mat-label>
      <mat-select [(ngModel)]="data.period">
        <mat-option *ngFor="let period of ['1º', '2º', '3º']" [value]="period">
          {{period}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="field">
    <mat-form-field>
      <mat-label>Tempo previsto</mat-label>
      <input matInput [(ngModel)]="data.estimatedTime">
    </mat-form-field>
  </div>

  <div class="field">
    <mat-form-field>
      <mat-label>Tempo gasto</mat-label>
      <input matInput [(ngModel)]="data.timeSpent">
    </mat-form-field>
  </div>

  <div class="field">
      <mat-label>Maquina ativa</mat-label>
      <mat-checkbox [(ngModel)]="data.activeMachine"></mat-checkbox>
  </div>

</div>

<div class="buttons" mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data.origin" cdkFocusInitial>Confirmar</button>
</div>
