<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">

  <i class="material-icons">lock_person</i>

  <div mat-dialog-content>
    <!-- Campo de matrícula (RF001) -->
    <mat-form-field class="input-field">
      <mat-label>Matrícula</mat-label>
      <input
        matInput
        (keydown)="validateNumberInput($event)"
        (input)="validateNumberInput($event)"
        type="password"
        [(ngModel)]="user.badge_number"
        name="badgeNumber"
        required
        autocomplete="off"
      />
    </mat-form-field>

    <!-- Campo de turno (RF002) -->
    <mat-form-field class="input-field">
      <mat-label>Turno</mat-label>
      <mat-select [(ngModel)]="user.shift_work" name="shift" placeholder="Turno" required="true">
        <mat-option
          *ngFor="let shift of ['1°', '2°', '3°']"
          [value]="shift"
        >
          {{ shift }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div mat-dialog-actions class="buttons">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!loginForm.valid"
    >
      Entrar
    </button>
  </div>
</form>
