.buttons {
  width: 100%;
  justify-content: right;
}

.input-field {
  width: 100%;
}

.material-icons {
  margin-top: 40px;
  font-size: 80px;
  color: white;
  display: flex;
  justify-content: center;
}
