.field {
  width: 200px;
  margin: 20px;
  display: flex;
  align-items: center;
}

.modal-content {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.timer {
  display: block;
}
