<h1 mat-dialog-title>{{data.description}}</h1>

<div mat-dialog-content class="modal-content">

  <div class="field">
    <mat-form-field>
      <mat-label>Tipo da atividade</mat-label>
      <input matInput [(ngModel)]="data.activityType">
    </mat-form-field>
  </div>

  <div class="field">
    <mat-form-field>
      <mat-label>Origem da atividade</mat-label>
      <mat-select [(ngModel)]="data.origin">
          <mat-option *ngFor="let origin of ['PM', 'QB', 'QX', 'EX']" [value]="origin">
            {{origin}}
          </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="field">
    <mat-form-field>
      <mat-label>Turno</mat-label>
      <mat-select [(ngModel)]="data.period">
        <mat-option *ngFor="let period of ['1º', '2º', '3º']" [value]="period">
          {{period}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="field">
      <mat-label>Maquina ligada</mat-label>
      <mat-checkbox [checked]="true"></mat-checkbox>
  </div>

  <div class="field">
    <mat-label>KO</mat-label>
    <mat-slide-toggle [checked]="true" (change)="openDialog($event, data)">OK</mat-slide-toggle>
  </div>

  <div class="field">
    <mat-label>SOP</mat-label>
    <button mat-button (click)="showSop($event, data)">
      <i class="material-icons">help</i>
    </button>
  </div>

</div>

<div class="buttons" mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data.origin" cdkFocusInitial>Confirmar</button>
</div>
